<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Історія</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
    <link rel="icon" href="{% static 'general/image/spid.png' %}" type="image/x-icon">
    <script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'tester/js/loader.js' %}"></script>
    <script src="{% static 'tester/js/history.js' %}"></script>
</head>

<body>
    <div class="Container">
        <header>
            <div class="Header">
                <h1>SPIDTest</h1>
            </div>
        </header>

       <nav class="NavTop">
            <a href="../test"><b>ГОЛОВНА</b></a>
            <a href="../history" class="navtop"><b>ІСТОРІЯ</b></a>
            <a href="../signup"><b>РЕЄСТРАЦІЯ</b></a>
            <a href="../signin"><b>УВІЙТИ</b></a>
        </nav>

        <main>
            <form   id="textArea" action="{% static '' %}" class="formReg" method="post">
                <p class="pHistory"><b>ІСТОРІЯ ТЕСТІВ</b></p>
                <p><textarea rows="20" cols="100" name="text"></textarea></p>
                <p><input type="submit" value="ЗАГРУЗИТИ" class="Submit" id="submitFormHist"></p>
            </form>
        </main>

        <footer>
            <span>© Практика 2018. Тест на ВІЛ (Високошвидкісний Інтернет Літає?). Всі права захищені. v.2.1.1</span>
        </footer>
    </div>
</body>
</html>